:root {
  /* Background Color */
  --bg-red: #d3282e;
  --bg-white: #fff;
  --bg-light-white: #f6f7f8;
  --bg-yellow: #fdd800;
  --bg-green: #009900;

  /* Text Color */
  --text-black: #1f1f1f;
  --text-white: #fff;
  --text-red: #d3282e;
  --text-green: #009900;
  --text-yellow: #fdd800;

  /* Fonts */
  --primary-font: 'Great Vibes', cursive;
  --secondary-font: 'Poppins', sans-serif;
}

/* body {
    font-family: var(--secondary-font);
    background-color: var(--bg-white);
}

 .text-red {
    color: var(--text-red);
}

.bg-red {
    background-color: var(--bg-red) !important;
}

.bg-light-white {
    background-color: var(--bg-light-white) !important;
}

.bg-green {
    background-color: var(--bg-green) !important;
}

h1 {
    font-size: 80px;
    font-family: var(--primary-font);
    letter-spacing: 5px;
    font-weight: 500;
    color: var(--text-white);
}

h3 {
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: 700;
    color: var(--text-white);
    margin-bottom: 15px;
}

h4 {
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 500;
    color: var(--text-white);
    margin-bottom: 15px;
}

h5 {
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: 500;
    color: var(--text-white);
    margin-bottom: 15px;
}

p {
    margin-top: 5px;
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    color: var(--text-white);
} */


/* Navbar  */
.navbar {
  /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
  background: linear-gradient(135deg, #ffffff, #9b59b6);

}

.btn-header {
  border-radius: 5%;
  font-size: 14px;
  border: 1px solid #fff;
  font-weight: bold;
  margin-top: 10px;
  color: #ffffff !important;
  padding: 15px 40px;
  text-transform: capitalize;
}

.navbar-brand img {
  max-width: 210px;
  height: auto;
  margin-top: -10px;
}

.nav-item .nav-link {
  font-size: 15px;
  font-weight: 500;
  /* color: var(--text-white); */
  line-height: 2;
  letter-spacing: 1px;
}

.nav-item {
  margin-top: 10px;
}

.nav-item .nav-link {
  font-size: 20px;
  font-family: serif;

}

.profileImg img {

  width: 80px;
  height: 70px;
  border-radius: 50%;

}

.profileImg {
  display: flex;
  justify-content: center;
}

.tb{
  display: inline-table;
}

@media only screen and (max-width: 1200px) {

  .btn-header {
    border-radius: 5%;
    font-size: 14px;
    border: 1px solid #fff;
    font-weight: bold;
    margin-top: 10px;
    color: #ffffff !important;
    padding: 15px 40px;
    text-transform: capitalize;
  }

  .nav-item {
    margin-top: 10px;
  }

  .profileImg {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .profileImg img {
    width: 100px;
    height: 90px;
    border-radius: 50%;
  }

  .nav-item .nav-link {
    font-size: 20px;
    font-family: serif;
  }

  .section-title {
    margin-bottom: 45px;
    text-align: center;
    margin-top: 10px;
  }

}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 768px) {

  .profileImg {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .profileImg img {
    width: 100px;
    height: 90px;
    border-radius: 50%;
  }

  .navbar {
    background: linear-gradient(135deg, #000000, #be8ed2);
  }

  .nav-item .nav-link {

    color: white !important;
  }

  .carousel-item img {
    height: 25rem !important;
  }

  .section-title {
    margin-bottom: 45px;
    text-align: center;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 576px) {

  .carousel-item img {
    height: 20rem !important;
  }

  .section-title h2 {
    font-size: 45px;
    font-weight: 600;
    line-height: 1.5;
  }

  .section-title {
    margin-bottom: 45px;
    text-align: center;
    margin-top: 10px;
  }

}

@media only screen and (max-width: 425px) {

  .carousel-item img {
    height: 15rem !important;
  }

  .section-title h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.5;
  }

  .section-title {
    margin-bottom: 45px;
    text-align: center;
    margin-top: 10px;
  }

}

@media only screen and (max-width: 375px) {

  .carousel-item img {
    height: 15rem !important;
  }


  .section-title h2 {
    font-size: 34px;
    font-weight: 600;
    line-height: 1.5;
  }

  .section-title {
    margin-bottom: 45px;
    text-align: center;
    margin-top: 10px;
  }

  .navbar {
   
  }

}