<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Admission</title>
    <link rel="stylesheet" href="/css/resetpw.css">
</head>

<body>
    <div class="center">
        <h1>Update Password</h1>
        <%if(message.length> 0){ %>
            <div class="alert alert-success">
                <%=message %>
            </div>
            <% }%>
        <form action="/forgot_password" method="post">
            <div class="txt_field">
                <input type="email" name="email" required>
                <span></span>
                <label>Email</label>
            </div>
        
            <!-- <div class="txt_field">
                <input type="password" name="newpassword" required>
                <span></span>
                <label>New Password</label>
            </div> -->
           
            <input type="submit" value="Update">
            <!-- <div class="signup_link">
                Not a member? <a href="#">Signup</a>
            </div> -->
        </form>
    </div>

</body>

</html>