<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Admission</title>
    <link rel="stylesheet" href="/css/resetpw.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>
    <div class="center">
        <h1>Forgot Password ?</h1>
        <p class="text-danger text-center">You can reset your password here.</p>
        <%if(message.length> 0){ %>
            <div class="alert alert-success">
                <%=message %>
            </div>
            <% }%>
        <form action="/forgot_password" method="post">
            <div class="txt_field">
                <input type="email" name="email"  placeholder="Email" required>
                <span></span>
                <!-- <label>Email</label> -->
            </div>
        
            <!-- <div class="txt_field">
                <input type="password" name="newpassword" required>
                <span></span>
                <label>New Password</label>
            </div> -->
           
            <input class="mb-3" type="submit" value="Reset Password">
            <!-- <div class="signup_link">
                Not a member? <a href="#">Signup</a>
            </div> -->
        </form>
    </div>

</body>

</html>