<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="/css/login.css">

    <!--<title>Login & Registration Form</title>-->
</head>

<body>

    <div class="container-login">
        <div class="forms">
            <div class="form login">
                <h1>Login</h1>
                <%if(message.length> 0){ %>
                    <div class="alert alert-success">
                        <%=message %>
                    </div>
                    <% }%>
                        <form action="/verifylogin" method="post">
                            <div class="input-field-login">
                                <input type="text" name="email" placeholder="Enter your email" required>
                                <i class="uil uil-envelope icon"></i>
                            </div>
                            <div class="input-field-login">
                                <input type="password" name="password" class="password"
                                    placeholder="Enter your password" required>
                                <i class="uil uil-lock icon"></i>
                                <i class="uil uil-eye-slash showHidePw"></i>
                            </div>

                            <div class="checkbox-text">
                                <div class="checkbox-content">
                                    <input type="checkbox" id="logCheck">
                                    <label for="logCheck" class="text">Remember me</label>
                                </div>

                                <a href="#" class="text text2">Forgot password?</a>
                            </div>

                            <div class="input-field-login button">
                                <input type="submit" value="Login">
                            </div>
                        </form>

                        <div class="login-signup">
                           <span class="text">Not a member?
                                <a href="/register" class="text signup-link">Signup Now</a>
                            </span>
                        </div>
            </div>


        </div>
    </div>

    <script src="/js/login.js"></script>
</body>

</html>