<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="/css/login.css">

    <!--<title>Login & Registration Form</title>-->
</head>

<body>

    <div class="container-signup">
        <div class="forms">
            <!-- Registration Form -->
            <div class="form signup">
                <h1>Registration</h1>
                <%if(message.length> 0){ %>
                    <div class="alert alert-danger">
                        <%=message %>
                    </div>
                    <% }%>
                        <form action="/registerinsert" method="post" enctype="multipart/form-data">
                            <div class="input-field">
                                <input type="text" name="username" placeholder="Enter your name" required>
                                <i class="uil uil-user"></i>
                            </div>
                            <div class="input-field">
                                <input type="text" name="email" placeholder="Enter your email" required>
                                <i class="uil uil-envelope icon"></i>
                            </div>
                            <div class="input-field">
                                <input type="password" name="password" class="password" placeholder="Create a password"
                                    required>
                                <i class="uil uil-lock icon"></i>
                            </div>
                            <div class="input-field">
                                <input type="password" name="confirmpassword" class="password"
                                    placeholder="Confirm a password" required>
                                <i class="uil uil-lock icon"></i>
                                <i class="uil uil-eye-slash showHidePw"></i>
                            </div><br>
                            <div class="form-group text-center">
                                <label class="form-label">Profile Picture</label>
                                <input type="file" name="profile_image" class="form-control" required />
                            </div>

                            <div class="checkbox-text">
                                <div class="checkbox-content">
                                    <input type="checkbox" id="termCon">
                                    <label for="termCon" class="text">I accepted all terms and conditions</label>
                                </div>
                            </div>

                            <div class="input-field button">
                                <input type="submit" value="Signup">
                                <!-- <button type="submit" class="btn btn-info">Signup</button> -->
                            </div>
                        </form>

                        <div class="login-signup">
                            <span class="text">Already a member?
                                <a href="/" class="text login-link">Login Now</a>
                            </span>
                        </div>
            </div>



        </div>
    </div>

    <!-- <script src="/js/login.js"></script> -->
</body>

</html>